<div>
  <form #projectForm="ngForm" (ngSubmit)="submit(projectForm)">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Add User</div>
        <div class="panel-body">
          
          <div class="form-group" [class.has-error]="userFName.touched && userFName.invalid">
            <label for="txtuserFName" class="control-label">First Name:</label>
            <input type="text" class="form-control" id="txtuserFName" name="FirstName" [(ngModel)]="userData.FirstName" #userFName="ngModel" required>
            <div *ngIf="userFName.touched && userFName.invalid">
            <span class="error" *ngIf="userFName.errors?.required">First Name is required</span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="userLName.touched && userLName.invalid">
            <label for="txtuserLName" class="control-label">Last Name:</label>
            <input type="text" class="form-control" id="txtuserLName" name="LastName" [(ngModel)]="userData.LastName" #userLName="ngModel" required >
            <div *ngIf="userLName.touched && userLName.invalid">
            <span class="error" *ngIf="userLName.errors?.required">Last Name is required</span>
            </div>
          </div>
        <div class="form-group" [class.has-error]="userEmpID.touched && userEmpID.invalid">
            <label for="txtuserEmpID" class="control-label">Employee ID:</label>
            <input type="text" class="form-control" id="txtuserEmpID" name="EmployeeID" [(ngModel)]="userData.EmployeeID"
               #userEmpID="ngModel" required>
                <div *ngIf="userEmpID.touched && userEmpID.invalid">
            <span class="error" *ngIf="userEmpID.errors?.required">Employee ID is required</span>
            </div>
          </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button class="btn btn-md btn-primary" >{{FormRequestType}} User</button>
            &nbsp;
            <button type="reset" class="btn btn-success">Reset</button>
          </div>
          <div class="clearfix"></div>
        </div>
         </div>
         </div>
         </div>
  </form>

  <table class="table table-striped table-hover table-bordered">
   
    <thead>
      <tr>
         <th (click)="sort('name')">First Name
         <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
          <th (click)="sort('name')">Last Name
         <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
          <th (click)="sort('name')">Employee ID
         <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
          <th colspan="2"><b>
            Search First Name:
            <input class="form-control" type="text" name="FirstName"  style="box-sizing:border-box;display:block;width:100%;background-color: lightgrey">
            </b></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userr of users ">
         <td>{{userr.FirstName}}</td>
        <td>{{userr.LastName}}</td>
         <td>{{userr.EmployeeID}}</td>
        <td colspan="2">
          <button class="btn btn-sm btn-primary" (click)="edit(userr.UserID)">
            <span class="glyphicon glyphicon-pencil">&nbsp;Edit</span>
          </button>
          &nbsp;&nbsp;&nbsp;
          <button class="btn btn-sm btn-danger" (click)="delete(userr.UserID)">
            <span class="glyphicon glyphicon-trash">&nbsp;Delete</span>
          </button>
         
          
        </td>
      </tr>
    </tbody>
  </table>
</div>